html(lang="en")
    head
        title Better Loot
        link(rel="stylesheet", href="/style.css", type="text/css")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    body(onload="initAdmin()")
        div(class="header", id="header")
            div
                - var backToPortfolio = "./users/"+user.username
                img(src="logo1.png", alt="BetterLoot", id="logo")
            div(class="headerButtonsDiv")
                a(href="./news")
                    button(class="buttons", id="toNewsPage") News
                a(href="./orders")
                    button(class="buttons", id="toOrdersPage") Trade
                a(href=backToPortfolio)
                    button(class="buttons", id="toPortfolio") My Portfolio
                a(href="./logout")
                    button(class="buttons", id="toLogout") Logout
        br
        div(id="adminDiv")
            h2(id="title") Admin Controls
            label(for="deposit") Deposit:  
            input(type="number", name="deposit", id="deposit")
            button(class="buttons", id="depositButton") Deposit
            br
            label(for="withdraw") Withdraw:  
            input(type="number", name="withdraw", id="withdraw")
            button(class="buttons", id="withdrawButton") Withdraw
            br
            button(class="buttons", id="eod") End of Day
        script(src="/script.js")