<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
</head>


<body onload="initForgotPasswordPage()">
    
    <div class="header" id="header">
        <div><a class="goHome" href="./index.html"><img src="logo1.png" alt="BetterLoot" id="logo"></a></div>

        <div class="headerButtonsDiv">
            <a href="./news"><button class = "buttons" id="toNewsPage">News</button></a>
        </div>
    </div>
    <br>



    <div id="forgotPasswordDiv">
        <h2 id="titleForgot">Account Recovery</h2>
        <label for="usernameForgot">Username: </label>
        <input type="text" name="usernameForgot" id="usernameForgot">
        <br>
        

        <a href="./index.html"><button class = "buttons" id="forgotButton">Submit</button></a>

    </div>
    

    
    <script src="script.js"></script>   

</body>
</html>